.movie-list {
  margin: 20px 10%;

  .filters-container {
    display: flex;

    .search {
      width: 100%;
    }

    .filter-button {
      width: 55px;
      height: 55px;
      margin: 0 auto;
    }
  }

  .movie-list-container {
    display: flex;
    flex-wrap: wrap;

    .card-wrapper {
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {
        width: 50%;
      }

      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) {
        width: 33.33%;
      }

      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
        width: 25%;
      }

      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) {
        width: 20%;
      }
    }

    .example-card {
      margin: 5px;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      .movie-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
