<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'over'" position="end">
        <mat-nav-list>
            <a mat-list-item *ngFor="let genre of genres">
                <mat-checkbox [(ngModel)]="genre.isChecked" (change)="onCheckboxChange()">{{genre.name}}</mat-checkbox>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="movie-list">
            <div class="filters-container">
                <mat-form-field class="search" appearance="outline">
                    <input matInput placeholder="Search movie" [formControl]="search">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>

                <button mat-icon-button class="filter-button" (click)="snav.toggle()">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>

            <div class="movie-list-container">
                <div class="card-wrapper" *ngFor="let movie of movies" [routerLink]="['.', movie.id]">
                    <mat-card class="example-card" [routerLink]="['/movies', movie.id]">
                        <img mat-card-image [src]="movie.posterPath" [alt]="movie.title">

                        <div class="movie-title" [title]="movie.title">
                            {{movie.title}}
                        </div>
                    </mat-card>
                </div>
            </div>

            <mat-paginator *ngIf="totalCount" [length]="totalCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizes" (page)="onPaginatorChanges($event)">
            </mat-paginator>

            <div *ngIf="!totalCount">
                No Movies Found
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>